body {
  font-family: "Fredoka One", cursive;
}

.list-group{
  max-height: 70vh;
  margin-bottom: 10px;
  overflow: auto;
}

.custom-control-label::before, 
.custom-control-label::after {
    width: 1.25rem;
    height: 1.25rem;
}